<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Главная", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @section.title, @section %></li>
    <li class="breadcrumb-item active">Новая статья</li>
  </ol>
</nav>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Новая статья в разделе "<%= @section.title %>"</h1>
  <%= link_to "Назад к разделу", @section, class: "btn btn-outline-primary" %>
</div>

<%= render 'form', article: @article, section: @section %>